doctype html
html
	head
		title Hello World!
		<!-- build:css /stylesheets/dist/index/combined.css -->
		<link href="/stylesheets/index_style.css" rel="stylesheet" />
		<!-- endbuild -->
	
		<!-- build:js /scripts/dist/index/combined.js -->
		<script type="text/javascript" src="/scripts/lib/jquery/dist/jquery.min.js"></script>
		<script type="text/javascript" src="/scripts/lib/jquery-cookie/jquery.cookie.js"></script>
		<script type="text/javascript" src="/scripts/lib/requirejs/require.js"></script>
		<script type="text/javascript" src="/scripts/require_config.js"></script>
		<script type="text/javascript" src="/scripts/index_test.js"></script>
		<!-- endbuild -->

	body
		.test-class.
			Hello My First Page!
		br
		p
			| Your user name is #{User.username}
			br
			| Your nick name is #{User.nickname}
			br
			| Your E-mail address is #{User.email}
			br
			| COOKIE:test_cookie = #{Cookies.test_cookie}
			br
			| post_data = #{Post}
		button(id='set_cookie_btn') Set Cookie
		br
		button(id='clear_cookie_btn') Clear Cookie
		br
		input(type='text', id='input_a')
		input(type='text', id='input_b')
		button(id='submit') Sum
		br
		#result_div
		br

		img(src='/images/test_image.jpg')
